
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501212536649'); /* IE9*/
  src: url('iconfont.eot?t=1501212536649#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501212536649') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501212536649') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501212536649#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html5:before { content: "\f01ee"; }

.icon-weibo:before { content: "\e626"; }

.icon-jquery:before { content: "\e605"; }

.icon-yu:before { content: "\e61e"; }

.icon-yugou:before { content: "\e6ae"; }

.icon-github:before { content: "\e71d"; }

.icon-yanjing:before { content: "\e6c8"; }

.icon-yugu:before { content: "\e606"; }

.icon-ren:before { content: "\e788"; }

.icon-youxiang:before { content: "\e634"; }

.icon-less:before { content: "\e60f"; }

.icon-css:before { content: "\e61f"; }

.icon-tel:before { content: "\e639"; }

.icon-qq:before { content: "\e508"; }

.icon-dizhi:before { content: "\e6ff"; }

.icon-Webpack:before { content: "\e641"; }

.icon-weixin:before { content: "\e62f"; }

